[submodule "ruscorpora_tagging"]
	path = ruscorpora_tagging
	url = https://github.com/ishalyminov/ruscorpora_tagging.git
[submodule "disamb"]
	path = disamb
	url = git://github.com/ishalyminov/disamb.git
